<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Oauth Example</title>
    <style>
    nav a{
        display: block;
    }
    </style>
</head>
<body>
    <nav>
        <ul>
            <li>
                <a href="/">Home Page</a>
            </li>
        </ul>
    </nav>
    <header>
        <h1>Mahesh Bandi</h1>
        <h2>Home Page</h2>
    </header>
    <main>
        <p>Probely the best Oauth tutorials </p>
    </main>
</body>
</html>